{% extends 'main.html' %} {% block content %}

<div class="create-task-container">
  <h2>Create New Task</h2>

  <div class="task-form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <label>Title:</label>
      {{ form.title }}
      
      <label>Description:</label>
      {{ form.description }}
      
      <label>Due Date:</label>
      {{ form.due_date }}
      
      <label>Priority:</label>
      {{ form.priority }}
      
      <label>Status:</label>
      {{ form.status }}
      
      <label>Images:</label>
      {{ form.image }}

      <input type="submit" value="Create"  />
      <br/>
      <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="cancel-delete-button">Back</button></a>
    </form>
  </div>
</div>


<!-- <h2>Create new task</h2>

<div>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Create" />
  </form>
</div> -->
{% endblock content %}
