{% extends "main.html" %} {% block content %}
<div class="welcome-container">
  {% if request.user.is_authenticated %}
  <h1>Welcome, {{ user }}!</h1>
  <div class="button-group">
    <a href="{% url 'tasks' %}" class="button">Show Tasks</a>
    <a href="{% url 'createtask' %}" class="button">Create A New Task</a>
    <a href="{% url 'logout' %}" class="button">Logout</a>
  </div>
  {% else %}
  <h1>Welcome To Task Manager App</h1>
  <div class="button-group">
    <a href="{% url 'login' %}" class="button">Login</a>
    <a href="{% url 'register' %}" class="button">Register</a>
  </div>
  {% endif %}
</div>
{% endblock content %}
